text {
  font-size: 11px;
  pointer-events: none;
  fill: #FFFFFF;
}

text.parent {
}

circle {
/*  fill: #ccc;
  stroke: #999;*/
  pointer-events: all;
}

circle.parent {
}

circle.parent:hover {

}

circle:hover {
  opacity: 1;
}

.link {
  pointer-events:none;
}

svg.bubble-chart {
  display: inline-block;
  float:left;
  /*background-color: #000;*/
}

circle.highlighted {
  fill: #ffcf40;
  opacity: 0.8;
  pointer-events:none;
}


