text {
  font-size: 11px;
  pointer-events: none;
  fill: #FFFFFF;
}

text.parent {
}

circle {
/*  fill: #ccc;
  stroke: #999;*/
  pointer-events: all;
}

circle.parent {
}

circle.parent:hover {

}

circle:hover {
  opacity: 1;
}

.link {
  pointer-events:none;
}

svg.bubble-chart {
  background-color: #FFFFFF;
  opacity:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

circle.highlighted {
  fill: #ffcf40;
  opacity: 0.8;
  pointer-events:none;
}



