
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F7F7F7;
}

.page-content {
  position: relative;
  flex: 1;
  text-align:center;
  background-color: #F7F7F7;
}



#side-bar {
  position:absolute;
  right: 20px;
  top: 0px;  
}

#side-bar .side-bar-button {
  z-index: 100;
}

#editor {
  width: 440px;
  height: 75vh;
  /*border:1px solid black;*/
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  margin-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16),0 4px 12px 0 rgba(0,0,0,0.12) !important;
}